main {
  background-image: url(https://www.constructionnews.co.uk/pictures/1240x826/4/5/3/3052453_simpson-hagugh-st-johns.jpg);
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  min-height: 800px;
  font-size: x-large;
}

.topnav{
    background: #ccc;
}
