.jumbotron {
  margin-bottom: 0px;
  height: 1500px;
  background-image: url(https://www.constructionnews.co.uk/pictures/1240x826/4/5/3/3052453_simpson-hagugh-st-johns.jpg);
  background-position: O% 25%;
  background size: auto 80%;
  background-repeat: no-repeat;
  color: white;
  font-size: x-large;
  text-align: center;
}
.topnav{
  align-items: right;
}
