.jumbotron {
  margin-bottom: 0px;
  background-image: url("https://www.constructionnews.co.uk/projects/plans-in-for-36-storey-tower-at-manchesters-st-johns/10016360.article");
  background-position: O% 25%;
  background size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;

}
